* text=auto !eol
.idea/Additional[!!-~]files.iml -text
.idea/Build.iml -text
.idea/Collections.iml -text
.idea/Generated[!!-~]files.iml -text
.idea/Generator.iml -text
.idea/ant.xml -text
.idea/compiler.xml -text
.idea/copyright/integers.xml -text
.idea/copyright/profiles_settings.xml -text
.idea/encodings.xml -text
.idea/inspectionProfiles/Project_Default.xml -text
.idea/inspectionProfiles/profiles_settings.xml -text
.idea/libraries/lib.xml -text
.idea/misc.xml -text
.idea/modules.xml -text
.idea/runConfigurations/Build.xml -text
.idea/runConfigurations/Dist.xml -text
.idea/runConfigurations/Generate.xml -text
.idea/runConfigurations/Generate_Make.xml -text
.idea/runConfigurations/Test.xml -text
.idea/runConfigurations/fetchVersion.xml -text
.idea/uiDesigner.xml -text
.idea/vcs.xml -text
ant/build.gant -text
ant/build.properties -text
ant/build.xml -text
dev/com/almworks/integers/AbstractIntIterator.java -text
dev/com/almworks/integers/AbstractIntList.java -text
dev/com/almworks/integers/AbstractIntListIndexIterator.java -text
dev/com/almworks/integers/AbstractIntLongIterator.java -text
dev/com/almworks/integers/AbstractIntLongIteratorWithFlag.java -text
dev/com/almworks/integers/AbstractLongCollector.java -text
dev/com/almworks/integers/AbstractLongIterator.java -text
dev/com/almworks/integers/AbstractLongIteratorWithFlag.java -text
dev/com/almworks/integers/AbstractLongList.java -text
dev/com/almworks/integers/AbstractLongListIndexIterator.java -text
dev/com/almworks/integers/AbstractLongSet.java -text
dev/com/almworks/integers/AbstractWritableIntList.java -text
dev/com/almworks/integers/AbstractWritableIntLongMap.java -text
dev/com/almworks/integers/AbstractWritableLongList.java -text
dev/com/almworks/integers/AbstractWritableLongSet.java -text
dev/com/almworks/integers/DynamicIntSet.java -text
dev/com/almworks/integers/EmptyIntIterator.java -text
dev/com/almworks/integers/EmptyLongIterator.java -text
dev/com/almworks/integers/EmptyLongSet.java -text
dev/com/almworks/integers/IndexedIntIterator.java -text
dev/com/almworks/integers/IndexedIntListIterator.java -text
dev/com/almworks/integers/IndexedLongIterator.java -text
dev/com/almworks/integers/IndexedLongListIterator.java -text
dev/com/almworks/integers/IntArray.java -text
dev/com/almworks/integers/IntArrayIterator.java -text
dev/com/almworks/integers/IntCollections.java -text
dev/com/almworks/integers/IntCollector.java -text
dev/com/almworks/integers/IntCollectorAdapter.java -text
dev/com/almworks/integers/IntIntMap.java -text
dev/com/almworks/integers/IntIterable.java -text
dev/com/almworks/integers/IntIterables.java -text
dev/com/almworks/integers/IntIterator.java -text
dev/com/almworks/integers/IntIterators.java -text
dev/com/almworks/integers/IntList.java -text
dev/com/almworks/integers/IntListIterator.java -text
dev/com/almworks/integers/IntLongIterable.java -text
dev/com/almworks/integers/IntLongIterator.java -text
dev/com/almworks/integers/IntLongIterators.java -text
dev/com/almworks/integers/IntLongMap.java -text
dev/com/almworks/integers/IntLongMapI.java -text
dev/com/almworks/integers/IntProgression.java -text
dev/com/almworks/integers/ListIntMap.java -text
dev/com/almworks/integers/ListLongMap.java -text
dev/com/almworks/integers/LongArray.java -text
dev/com/almworks/integers/LongArrayIterator.java -text
dev/com/almworks/integers/LongCollections.java -text
dev/com/almworks/integers/LongCollector.java -text
dev/com/almworks/integers/LongIterable.java -text
dev/com/almworks/integers/LongIterables.java -text
dev/com/almworks/integers/LongIterator.java -text
dev/com/almworks/integers/LongIterators.java -text
dev/com/almworks/integers/LongList.java -text
dev/com/almworks/integers/LongListIterator.java -text
dev/com/almworks/integers/LongProgression.java -text
dev/com/almworks/integers/LongSet.java -text
dev/com/almworks/integers/LongSortedSet.java -text
dev/com/almworks/integers/LongTreeSet.java -text
dev/com/almworks/integers/PairIntIntIterator.java -text
dev/com/almworks/integers/PairIntLongIterator.java -text
dev/com/almworks/integers/ParallelIntList.java -text
dev/com/almworks/integers/ParallelLongList.java -text
dev/com/almworks/integers/TwoWayIntMap.java -text
dev/com/almworks/integers/TwoWayLongMap.java -text
dev/com/almworks/integers/WritableIntList.java -text
dev/com/almworks/integers/WritableIntListIterator.java -text
dev/com/almworks/integers/WritableIntLongMap.java -text
dev/com/almworks/integers/WritableLongList.java -text
dev/com/almworks/integers/WritableLongListIterator.java -text
dev/com/almworks/integers/WritableLongSet.java -text
dev/com/almworks/integers/WritableLongSortedSet.java -text
dev/com/almworks/integers/func/IntFunction.java -text
dev/com/almworks/integers/func/IntFunction2.java -text
dev/com/almworks/integers/func/IntFunctions.java -text
dev/com/almworks/integers/func/IntProcedure.java -text
dev/com/almworks/integers/func/IntProcedure2.java -text
dev/com/almworks/integers/func/IntToLong.java -text
dev/com/almworks/integers/func/LongFunction.java -text
dev/com/almworks/integers/func/LongFunction2.java -text
dev/com/almworks/integers/func/LongFunctions.java -text
dev/com/almworks/integers/func/LongProcedure.java -text
dev/com/almworks/integers/func/LongProcedure2.java -text
dev/com/almworks/integers/func/LongToInt.java -text
dev/com/almworks/integers/optimized/CyclicLongQueue.java -text
dev/com/almworks/integers/optimized/IntSegment.java -text
dev/com/almworks/integers/optimized/IntSegments.java -text
dev/com/almworks/integers/optimized/LongSegment.java -text
dev/com/almworks/integers/optimized/LongSegments.java -text
dev/com/almworks/integers/optimized/SameValuesIntList.java -text
dev/com/almworks/integers/optimized/SameValuesLongList.java -text
dev/com/almworks/integers/optimized/SegmentedIntArray.java -text
dev/com/almworks/integers/optimized/SegmentedIntArrayEnvironment.java -text
dev/com/almworks/integers/optimized/SegmentedIntArrayHeapEnvironment.java -text
dev/com/almworks/integers/optimized/SegmentedLongArray.java -text
dev/com/almworks/integers/optimized/SegmentedLongArrayEnvironment.java -text
dev/com/almworks/integers/optimized/SegmentedLongArrayHeapEnvironment.java -text
dev/com/almworks/integers/util/AbstractIntListDecorator.java -text
dev/com/almworks/integers/util/AbstractLongListDecorator.java -text
dev/com/almworks/integers/util/AbstractLongListRemovingDecorator.java -text
dev/com/almworks/integers/util/DiffIndexedIntListDecorator.java -text
dev/com/almworks/integers/util/DiffIndexedLongListDecorator.java -text
dev/com/almworks/integers/util/FailFastIntIterator.java -text
dev/com/almworks/integers/util/FailFastIntLongIterator.java -text
dev/com/almworks/integers/util/FailFastLongIterator.java -text
dev/com/almworks/integers/util/FindingIntIterator.java -text
dev/com/almworks/integers/util/FindingIntLongIterator.java -text
dev/com/almworks/integers/util/FindingLongIterator.java -text
dev/com/almworks/integers/util/IntListConcatenation.java -text
dev/com/almworks/integers/util/IntListInsertingDecorator.java -text
dev/com/almworks/integers/util/IntListRemovingDecorator.java -text
dev/com/almworks/integers/util/IntMeasurableIterable.java -text
dev/com/almworks/integers/util/IntObjMap.java -text
dev/com/almworks/integers/util/IntSetBuilder.java -text
dev/com/almworks/integers/util/IntSizedIterable.java -text
dev/com/almworks/integers/util/LongAmortizedSet.java -text
dev/com/almworks/integers/util/LongChainHashSet.java -text
dev/com/almworks/integers/util/LongConcatIterator.java -text
dev/com/almworks/integers/util/LongIntersectionIterator.java -text
dev/com/almworks/integers/util/LongIterableLexicographicComparator.java -text
dev/com/almworks/integers/util/LongListConcatenation.java -text
dev/com/almworks/integers/util/LongListInsertingDecorator.java -text
dev/com/almworks/integers/util/LongListRemovingDecorator.java -text
dev/com/almworks/integers/util/LongMinusIterator.java -text
dev/com/almworks/integers/util/LongObjMap.java -text
dev/com/almworks/integers/util/LongOpenHashSet.java -text
dev/com/almworks/integers/util/LongSetBuilder.java -text
dev/com/almworks/integers/util/LongSetOperationsIterator.java -text
dev/com/almworks/integers/util/LongSizedIterable.java -text
dev/com/almworks/integers/util/LongUnionIterator.java -text
dev/com/almworks/integers/util/LongUnionIteratorTwo.java -text
dev/com/almworks/integers/util/ModifyingIntListRemovingDecorator.java -text
dev/com/almworks/integers/util/ReadonlyIntListRemovingDecorator.java -text
dev/com/almworks/integers/util/SortedIntListIntersectionIterator.java -text
dev/com/almworks/integers/util/SortedIntListMinusIterator.java -text
dev/com/almworks/integers/util/WritableLongListRemovingDecorator.java -text
dev/com/almworks/integers/wrappers/IntHppcWrappers.java -text
dev/com/almworks/integers/wrappers/IntLongHppcOpenHashMap.java -text
dev/com/almworks/integers/wrappers/IntLongHppcWrappers.java -text
dev/com/almworks/integers/wrappers/LongHppcWrappers.java -text
gen/com/almworks/integers/generator/IntegerCollectionsCodegen.java -text
gen/com/almworks/integers/generator/SkipImportsRegex.groovy -text
gen/com/almworks/integers/generator/StringSets.java -text
gen/com/almworks/integers/generator/TypeDescriptor.java -text
java/com/almworks/integers/EmptyIntLongIterator.java -text
java/com/almworks/integers/IntegersUtils.java -text
java/com/almworks/integers/util/IntegersDebug.java -text
java/com/almworks/integers/util/RemovedIndexIterator.java -text
lib/annotations.jar -text
lib/junit-4.11.jar -text
templates/com/almworks/integers/AbstractPIterator.tpl -text
templates/com/almworks/integers/AbstractPList.tpl -text
templates/com/almworks/integers/AbstractPListIndexIterator.tpl -text
templates/com/almworks/integers/AbstractWritablePList.tpl -text
templates/com/almworks/integers/DynamicPSet.tpl -text
templates/com/almworks/integers/EmptyPIterator.tpl -text
templates/com/almworks/integers/IndexedPIterator.tpl -text
templates/com/almworks/integers/IndexedPListIterator.tpl -text
templates/com/almworks/integers/IntPMap.tpl -text
templates/com/almworks/integers/ListPMap.tpl -text
templates/com/almworks/integers/PArray.tpl -text
templates/com/almworks/integers/PArrayIterator.tpl -text
templates/com/almworks/integers/PCollections.tpl -text
templates/com/almworks/integers/PCollector.tpl -text
templates/com/almworks/integers/PCollectorAdapter.tpl -text
templates/com/almworks/integers/PIterable.tpl -text
templates/com/almworks/integers/PIterables.tpl -text
templates/com/almworks/integers/PIterator.tpl -text
templates/com/almworks/integers/PList.tpl -text
templates/com/almworks/integers/PListIterator.tpl -text
templates/com/almworks/integers/PProgression.tpl -text
templates/com/almworks/integers/PairIntPIterator.tpl -text
templates/com/almworks/integers/ParallelPList.tpl -text
templates/com/almworks/integers/TwoWayPMap.tpl -text
templates/com/almworks/integers/WritablePList.tpl -text
templates/com/almworks/integers/WritablePListIterator.tpl -text
templates/com/almworks/integers/func/PFunction.tpl -text
templates/com/almworks/integers/func/PFunction2.tpl -text
templates/com/almworks/integers/func/PFunctions.tpl -text
templates/com/almworks/integers/func/PProcedure.tpl -text
templates/com/almworks/integers/func/PProcedure2.tpl -text
templates/com/almworks/integers/optimized/PSegment.tpl -text
templates/com/almworks/integers/optimized/PSegments.tpl -text
templates/com/almworks/integers/optimized/SameValuesPList.tpl -text
templates/com/almworks/integers/optimized/SegmentedPArray.tpl -text
templates/com/almworks/integers/optimized/SegmentedPArrayEnvironment.tpl -text
templates/com/almworks/integers/optimized/SegmentedPArrayHeapEnvironment.tpl -text
templates/com/almworks/integers/util/AbstractPListDecorator.tpl -text
templates/com/almworks/integers/util/DiffIndexedPListDecorator.tpl -text
templates/com/almworks/integers/util/FindingPIterator.tpl -text
templates/com/almworks/integers/util/ModifyingPListRemovingDecorator.tpl -text
templates/com/almworks/integers/util/PListConcatenation.tpl -text
templates/com/almworks/integers/util/PListInsertingDecorator.tpl -text
templates/com/almworks/integers/util/PListRemovingDecorator.tpl -text
templates/com/almworks/integers/util/PObjMap.tpl -text
templates/com/almworks/integers/util/PSetBuilder.tpl -text
templates/com/almworks/integers/util/ReadonlyPListRemovingDecorator.tpl -text
templates/com/almworks/integers/util/SortedLongListIntersectionIterator.java -text
templates/com/almworks/integers/util/SortedLongListOperationsIterator.java -text
templates/com/almworks/integers/util/SortedLongListUnionIterator.java -text
templates/com/almworks/integers/util/SortedPListIntersectionIterator.tpl -text
templates/com/almworks/integers/util/SortedPListMinusIterator.tpl -text
test/com/almworks/integers/BinarySearchChecker.java -text
test/com/almworks/integers/CollectionsCompare.java -text
test/com/almworks/integers/Containers.java -text
test/com/almworks/integers/IndexedLongIteratorTests.java -text
test/com/almworks/integers/IndexedLongListIteratorTests.java -text
test/com/almworks/integers/IntLongIteratorTests.java -text
test/com/almworks/integers/IntLongMapTests.java -text
test/com/almworks/integers/IntegersFixture.java -text
test/com/almworks/integers/IntegersUtilsTests.java -text
test/com/almworks/integers/ListLongMapTests.java -text
test/com/almworks/integers/LongArrayTests.java -text
test/com/almworks/integers/LongIteratorSingleTests.java -text
test/com/almworks/integers/LongIteratorSpecificationChecker.java -text
test/com/almworks/integers/LongIteratorsTests.java -text
test/com/almworks/integers/LongListChecker.java -text
test/com/almworks/integers/LongListIteratorSpecificationChecker.java -text
test/com/almworks/integers/LongNativeArrayIteratorTests.java -text
test/com/almworks/integers/LongProgressionTests.java -text
test/com/almworks/integers/LongSubListTests.java -text
test/com/almworks/integers/LongTreeSetTests.java -text
test/com/almworks/integers/PairIntLongIteratorTests.java -text
test/com/almworks/integers/ParallelLongListTests.java -text
test/com/almworks/integers/SetOperationsChecker.java -text
test/com/almworks/integers/TwoWayLongMapTests.java -text
test/com/almworks/integers/WritableIntLongMapChecker.java -text
test/com/almworks/integers/WritableLongListChecker.java -text
test/com/almworks/integers/WritableLongSetChecker.java -text
test/com/almworks/integers/optimized/CyclicLongQueueTests.java -text
test/com/almworks/integers/optimized/SameValuesLongListTests.java -text
test/com/almworks/integers/optimized/SegmentedLongArrayTests.java -text
test/com/almworks/integers/optimized/TestEnvForSegmentedLongArray.java -text
test/com/almworks/integers/util/DiffIndexedLongListDecoratorTests.java -text
test/com/almworks/integers/util/FindingLongIteratorTests.java -text
test/com/almworks/integers/util/LongAmortizedSetTests.java -text
test/com/almworks/integers/util/LongChainHashSetTests.java -text
test/com/almworks/integers/util/LongCollectionsTests.java -text
test/com/almworks/integers/util/LongConcatIteratorTests.java -text
test/com/almworks/integers/util/LongIntersectionIteratorTests.java -text
test/com/almworks/integers/util/LongIterableLexicographicComparatorTests.java -text
test/com/almworks/integers/util/LongListConcatenationTests.java -text
test/com/almworks/integers/util/LongListInsertingDecoratorTests.java -text
test/com/almworks/integers/util/LongListRemovingDecoratorTests.java -text
test/com/almworks/integers/util/LongMinusIteratorTests.java -text
test/com/almworks/integers/util/LongObjMapTests.java -text
test/com/almworks/integers/util/LongOpenHashSetTests.java -text
test/com/almworks/integers/util/LongSetBuilderTests.java -text
test/com/almworks/integers/util/LongUnionIteratorTests.java -text
test/com/almworks/integers/util/LongUnionIteratorTwoTests.java -text
test/com/almworks/integers/util/WritableLongListRemovingDecoratorTests.java -text
test/com/almworks/integers/wrappers/IntLongHppcOpenHashMapTests.java -text
test/com/almworks/util/TestUtil.java -text
util/Util.iml -text
util/com/almworks/util/BadFormatException.java -text
util/com/almworks/util/ByteArray.java -text
util/com/almworks/util/FileUtil.java -text
util/com/almworks/util/Pair.java -text
