* text=auto !eol
.idea/Additional[!!-~]files.iml -text
.idea/Build.iml -text
.idea/Collections.iml -text
.idea/Generated[!!-~]files.iml -text
.idea/Generator.iml -text
.idea/ant.xml -text
.idea/compiler.xml -text
.idea/copyright/integers.xml -text
.idea/copyright/profiles_settings.xml -text
.idea/encodings.xml -text
.idea/inspectionProfiles/Project_Default.xml -text
.idea/inspectionProfiles/profiles_settings.xml -text
.idea/libraries/groovy.xml -text
.idea/libraries/lib.xml -text
.idea/misc.xml -text
.idea/modules.xml -text
.idea/runConfigurations/Build.xml -text
.idea/runConfigurations/Dist.xml -text
.idea/runConfigurations/Generate.xml -text
.idea/runConfigurations/Generate_Make.xml -text
.idea/runConfigurations/Test.xml -text
.idea/runConfigurations/fetchVersion.xml -text
.idea/uiDesigner.xml -text
.idea/vcs.xml -text
/README -text
ant/build.gant -text
ant/build.properties -text
ant/build.xml -text
gen/com/almworks/integers/generator/IntegerCollectionsCodegen.java -text
gen/com/almworks/integers/generator/SkipImportsRegex.groovy -text
gen/com/almworks/integers/generator/StringSets.java -text
gen/com/almworks/integers/generator/TypeDescriptor.java -text
java/com/almworks/integers/IntegersDebug.java -text
java/com/almworks/integers/IntegersUtils.java -text
java/com/almworks/integers/RemovedIndexIterator.java -text
lib/annotations.jar -text
lib/hppc-0.5.2-javadoc.jar -text
lib/hppc-0.5.2-sources.jar -text
lib/hppc-0.5.2.jar -text
lib/junit-4.11.jar -text
test/com/almworks/integers/BinarySearchChecker.java -text
test/com/almworks/integers/CollectionsCompare.java -text
test/com/almworks/integers/Containers.java -text
test/com/almworks/integers/IntCollectionsCompare.java -text
test/com/almworks/integers/IntLongIteratorTests.java -text
test/com/almworks/integers/IntLongPairIteratorTests.java -text
test/com/almworks/integers/IntegersFixture.java -text
test/com/almworks/integers/IntegersUtilsTests.java -text
test/com/almworks/integers/LongAmortizedSetTests.java -text
test/com/almworks/integers/LongArrayTests.java -text
test/com/almworks/integers/LongChainHashSetTests.java -text
test/com/almworks/integers/LongCollectionsTests.java -text
test/com/almworks/integers/LongConcatIteratorTests.java -text
test/com/almworks/integers/LongCyclicQueueTests.java -text
test/com/almworks/integers/LongFindingIteratorTests.java -text
test/com/almworks/integers/LongIndexedIteratorTests.java -text
test/com/almworks/integers/LongIntListMapTests.java -text
test/com/almworks/integers/LongIntersectionIteratorTests.java -text
test/com/almworks/integers/LongIterableLexicographicComparatorTests.java -text
test/com/almworks/integers/LongIteratorSingleTests.java -text
test/com/almworks/integers/LongIteratorSpecificationChecker.java -text
test/com/almworks/integers/LongIteratorsTests.java -text
test/com/almworks/integers/LongListChecker.java -text
test/com/almworks/integers/LongListConcatenationTests.java -text
test/com/almworks/integers/LongListDiffIndexedDecoratorTests.java -text
test/com/almworks/integers/LongListIndexedIteratorTests.java -text
test/com/almworks/integers/LongListInsertingDecoratorTests.java -text
test/com/almworks/integers/LongListIteratorSpecificationChecker.java -text
test/com/almworks/integers/LongListRemovingDecoratorTests.java -text
test/com/almworks/integers/LongMinusIteratorTests.java -text
test/com/almworks/integers/LongNativeArrayIteratorTests.java -text
test/com/almworks/integers/LongObjMapTests.java -text
test/com/almworks/integers/LongOpenHashSetTests.java -text
test/com/almworks/integers/LongParallelListMapTests.java -text
test/com/almworks/integers/LongParallelListTests.java -text
test/com/almworks/integers/LongProgressionTests.java -text
test/com/almworks/integers/LongSameValuesListTests.java -text
test/com/almworks/integers/LongSetBuilderTests.java -text
test/com/almworks/integers/LongSubListTests.java -text
test/com/almworks/integers/LongTreeSetTests.java -text
test/com/almworks/integers/LongTwoWayMapTests.java -text
test/com/almworks/integers/LongUnionIteratorTests.java -text
test/com/almworks/integers/LongUnionIteratorTwoTests.java -text
test/com/almworks/integers/SetOperationsChecker.java -text
test/com/almworks/integers/WritableLongIntMapChecker.java -text
test/com/almworks/integers/WritableLongIntMapProjection.java -text
test/com/almworks/integers/WritableLongListChecker.java -text
test/com/almworks/integers/WritableLongListRemovingDecoratorTests.java -text
test/com/almworks/integers/WritableLongSetChecker.java -text
test/com/almworks/integers/segmented/LongSegmentedArrayTests.java -text
test/com/almworks/integers/segmented/TestEnvForLongSegmentedArray.java -text
test/com/almworks/integers/wrappers/LongIntHppcOpenHashMapTests.java -text
test/com/almworks/util/TestUtil.java -text
util/Util.iml -text
util/com/almworks/util/BadFormatException.java -text
util/com/almworks/util/ByteArray.java -text
util/com/almworks/util/FileUtil.java -text
util/com/almworks/util/Pair.java -text
