* text=auto !eol
.idea/Additional[!!-~]files.iml -text
.idea/Build.iml -text
.idea/Collections.iml -text
.idea/Generated[!!-~]files.iml -text
.idea/Generator.iml -text
.idea/ant.xml -text
.idea/compiler.xml -text
.idea/copyright/integers.xml -text
.idea/copyright/profiles_settings.xml -text
.idea/encodings.xml -text
.idea/inspectionProfiles/Project_Default.xml -text
.idea/inspectionProfiles/profiles_settings.xml -text
.idea/libraries/lib.xml -text
.idea/misc.xml -text
.idea/modules.xml -text
.idea/runConfigurations/Build.xml -text
.idea/runConfigurations/Dist.xml -text
.idea/runConfigurations/Generate.xml -text
.idea/runConfigurations/Generate_Make.xml -text
.idea/runConfigurations/Test.xml -text
.idea/runConfigurations/fetchVersion.xml -text
.idea/uiDesigner.xml -text
.idea/vcs.xml -text
ant/build.gant -text
ant/build.properties -text
ant/build.xml -text
dev/com/almworks/integers/AbstractLongIterator.java -text
dev/com/almworks/integers/AbstractLongList.java -text
dev/com/almworks/integers/AbstractLongListIndexIterator.java -text
dev/com/almworks/integers/AbstractWritableLongList.java -text
dev/com/almworks/integers/DynamicLongSet.java -text
dev/com/almworks/integers/EmptyLongIterator.java -text
dev/com/almworks/integers/IndexedLongIterator.java -text
dev/com/almworks/integers/IndexedLongListIterator.java -text
dev/com/almworks/integers/IntLongMap.java -text
dev/com/almworks/integers/ListLongMap.java -text
dev/com/almworks/integers/LongArray.java -text
dev/com/almworks/integers/LongArrayIterator.java -text
dev/com/almworks/integers/LongCollections.java -text
dev/com/almworks/integers/LongCollector.java -text
dev/com/almworks/integers/LongCollectorAdapter.java -text
dev/com/almworks/integers/LongIterable.java -text
dev/com/almworks/integers/LongIterables.java -text
dev/com/almworks/integers/LongIterator.java -text
dev/com/almworks/integers/LongList.java -text
dev/com/almworks/integers/LongListIterator.java -text
dev/com/almworks/integers/LongProgression.java -text
dev/com/almworks/integers/PairIntLongIterator.java -text
dev/com/almworks/integers/ParallelLongList.java -text
dev/com/almworks/integers/TwoWayLongMap.java -text
dev/com/almworks/integers/WritableLongList.java -text
dev/com/almworks/integers/WritableLongListIterator.java -text
dev/com/almworks/integers/func/LongFunction.java -text
dev/com/almworks/integers/func/LongFunction2.java -text
dev/com/almworks/integers/func/LongFunctions.java -text
dev/com/almworks/integers/func/LongProcedure.java -text
dev/com/almworks/integers/func/LongProcedure2.java -text
dev/com/almworks/integers/optimized/LongSegment.java -text
dev/com/almworks/integers/optimized/LongSegments.java -text
dev/com/almworks/integers/optimized/SameValuesLongList.java -text
dev/com/almworks/integers/optimized/SegmentedLongArray.java -text
dev/com/almworks/integers/optimized/SegmentedLongArrayEnvironment.java -text
dev/com/almworks/integers/optimized/SegmentedLongArrayHeapEnvironment.java -text
dev/com/almworks/integers/util/AbstractLongListDecorator.java -text
dev/com/almworks/integers/util/DiffIndexedLongListDecorator.java -text
dev/com/almworks/integers/util/FindingLongIterator.java -text
dev/com/almworks/integers/util/LongListConcatenation.java -text
dev/com/almworks/integers/util/LongListInsertingDecorator.java -text
dev/com/almworks/integers/util/LongListRemovingDecorator.java -text
dev/com/almworks/integers/util/LongObjMap.java -text
dev/com/almworks/integers/util/LongSetBuilder.java -text
dev/com/almworks/integers/util/ModifyingLongListRemovingDecorator.java -text
dev/com/almworks/integers/util/ReadonlyLongListRemovingDecorator.java -text
dev/com/almworks/integers/util/SortedLongListIntersectionIterator.java -text
dev/com/almworks/integers/util/SortedLongListMinusIterator.java -text
gen/IntegerCollectionsCodegen.java -text
gen/SkipImportsRegex.groovy -text
gen/TypeDescriptor.java -text
java/com/almworks/integers/IntegersUtils.java -text
java/com/almworks/integers/util/IntegersDebug.java -text
java/com/almworks/integers/util/RemovedIndexIterator.java -text
lib/annotations.jar -text
lib/junit.jar -text
templates/com/almworks/integers/AbstractPIterator.tpl -text
templates/com/almworks/integers/AbstractPList.tpl -text
templates/com/almworks/integers/AbstractPListIndexIterator.tpl -text
templates/com/almworks/integers/AbstractWritablePList.tpl -text
templates/com/almworks/integers/DynamicPSet.tpl -text
templates/com/almworks/integers/EmptyPIterator.tpl -text
templates/com/almworks/integers/IndexedPIterator.tpl -text
templates/com/almworks/integers/IndexedPListIterator.tpl -text
templates/com/almworks/integers/IntPMap.tpl -text
templates/com/almworks/integers/ListPMap.tpl -text
templates/com/almworks/integers/PArray.tpl -text
templates/com/almworks/integers/PArrayIterator.tpl -text
templates/com/almworks/integers/PCollections.tpl -text
templates/com/almworks/integers/PCollector.tpl -text
templates/com/almworks/integers/PCollectorAdapter.tpl -text
templates/com/almworks/integers/PIterable.tpl -text
templates/com/almworks/integers/PIterables.tpl -text
templates/com/almworks/integers/PIterator.tpl -text
templates/com/almworks/integers/PList.tpl -text
templates/com/almworks/integers/PListIterator.tpl -text
templates/com/almworks/integers/PProgression.tpl -text
templates/com/almworks/integers/PairIntPIterator.tpl -text
templates/com/almworks/integers/ParallelPList.tpl -text
templates/com/almworks/integers/TwoWayPMap.tpl -text
templates/com/almworks/integers/WritablePList.tpl -text
templates/com/almworks/integers/WritablePListIterator.tpl -text
templates/com/almworks/integers/func/PFunction.tpl -text
templates/com/almworks/integers/func/PFunction2.tpl -text
templates/com/almworks/integers/func/PFunctions.tpl -text
templates/com/almworks/integers/func/PProcedure.tpl -text
templates/com/almworks/integers/func/PProcedure2.tpl -text
templates/com/almworks/integers/optimized/PSegment.tpl -text
templates/com/almworks/integers/optimized/PSegments.tpl -text
templates/com/almworks/integers/optimized/SameValuesPList.tpl -text
templates/com/almworks/integers/optimized/SegmentedPArray.tpl -text
templates/com/almworks/integers/optimized/SegmentedPArrayEnvironment.tpl -text
templates/com/almworks/integers/optimized/SegmentedPArrayHeapEnvironment.tpl -text
templates/com/almworks/integers/util/AbstractPListDecorator.tpl -text
templates/com/almworks/integers/util/DiffIndexedPListDecorator.tpl -text
templates/com/almworks/integers/util/FindingPIterator.tpl -text
templates/com/almworks/integers/util/ModifyingPListRemovingDecorator.tpl -text
templates/com/almworks/integers/util/PListConcatenation.tpl -text
templates/com/almworks/integers/util/PListInsertingDecorator.tpl -text
templates/com/almworks/integers/util/PListRemovingDecorator.tpl -text
templates/com/almworks/integers/util/PObjMap.tpl -text
templates/com/almworks/integers/util/PSetBuilder.tpl -text
templates/com/almworks/integers/util/ReadonlyPListRemovingDecorator.tpl -text
templates/com/almworks/integers/util/SortedLongListIntersectionIterator.java -text
templates/com/almworks/integers/util/SortedLongListOperationsIterator.java -text
templates/com/almworks/integers/util/SortedLongListUnionIterator.java -text
templates/com/almworks/integers/util/SortedPListIntersectionIterator.tpl -text
templates/com/almworks/integers/util/SortedPListMinusIterator.tpl -text
test/com/almworks/integers/CollectionsCompare.java -text
test/com/almworks/integers/Containers.java -text
test/com/almworks/integers/DynamicLongSetPerf.java -text
test/com/almworks/integers/DynamicLongSetTests.java -text
test/com/almworks/integers/IndexedIntIteratorTests.java -text
test/com/almworks/integers/IntArrayTests.java -text
test/com/almworks/integers/IntCollectionsCompare.java -text
test/com/almworks/integers/IntCollectionsTests.java -text
test/com/almworks/integers/IntIteratorTests.java -text
test/com/almworks/integers/IntegersUtilsTests.java -text
test/com/almworks/integers/NativeIntFixture.java -text
test/com/almworks/integers/ParallelIntListTests.java -text
test/com/almworks/integers/TwoWayIntMapTests.java -text
test/com/almworks/integers/optimized/SameValuesIntListTest.java -text
test/com/almworks/integers/optimized/SegmentedIntArrayTests.java -text
test/com/almworks/integers/optimized/TestEnvForSegmentedIntArray.java -text
test/com/almworks/integers/util/IntMapTests.java -text
test/com/almworks/integers/util/IntSetBuilderPerformanceComparison.java -text
test/com/almworks/integers/util/IntSetBuilderTests.java -text
test/com/almworks/integers/util/LongCollectionsTests.java -text
test/com/almworks/integers/util/SortedLongListIntersectionIteratorTests.java -text
test/com/almworks/integers/util/SortedLongListUnionIteratorTests.java -text
test/com/almworks/util/RandomHolder.java -text
test/com/almworks/util/TestUtil.java -text
util/Util.iml -text
util/com/almworks/util/BadFormatException.java -text
util/com/almworks/util/ByteArray.java -text
util/com/almworks/util/FileUtil.java -text
util/com/almworks/util/Pair.java -text
